<div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="/books/{{id}}" class="text-decoration-none text-dark">{{title}}</a></h5>
            </div>
        </div>
</div>
<div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="/books/{{id}}" class="text-decoration-none text-dark">{{title}}</a></h5>
            </div>
        </div>
</div>
<div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="/books/{{id}}" class="text-decoration-none text-dark">{{title}}</a></h5>
            </div>
        </div>
</div>
<div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="/books/{{id}}" class="text-decoration-none text-dark">{{title}}</a></h5>
            </div>
        </div>
</div>.